<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Details</title>
</head>
<style>
body {
  background-color:gainsboro;
}
.a{background-color:darkcyan;}
.b{background-color:lemonchiffon;}
.c{background-color:lightyellow;}
</style>
<body>
<h1 align="center">Internship batch details</h1>
<table align="center" BORDER="5"  WIDTH="100%" CELLPADDING="4" CELLSPACING="3">
    <tr class="a" height=100>
        <th>Name</th>
        <th>Native Place</th>
        <th>College Location</th>
        <th>Phone Number</th>
        <th>Email ID</th>
        <th>Photo</th>
    </tr>
    <tr class="c"align="center">
        <td>Aashrith Kandimalla</td>
        <td>Telangana</td>
        <td>Bangalore</td>
        <td>9182709761</td>
        <td>aashrith.kandimalla@knowledgelens.com</td>
        <td><img src="/static/1.jpeg" width="100" height="100"></td>
    </tr>
    <tr class="b" align="center">
        <td>Gayathri Suresh</td>
        <td>Cochin</td>
        <td>Amritapuri</td>
        <td>8921521119</td>
        <td>gayathri.suresh@knowledgelens.com</td>
        <td><img src="/static/2.jpeg" width="100" height="100"></td>
    </tr>
    <tr class="c"align="center">
        <td>Kiran A K</td>
        <td>Erode</td>
        <td>Coimbatore</td>
        <td>9487291799</td>
        <td>kiran.AK@knowledgelens.com</td>
        <td><img src="/static/3.jpeg"  width="100" height="100"></td>
    </tr>
    <tr class="b" align="center">
        <td>Omesh Majety</td>
        <td>Vijayawada</td>
        <td>Amritapuri</td>
        <td>8317613552</td>
        <td>Omesh.Majety@knowledgelens.com</td>
        <td><img src="/static/4.jpeg"  width="100" height="100"></td>
    </tr>
    <tr class="c"align="center">
        <td>Rakesh Kamma</td>
        <td>Guntur</td>
        <td>Bangalore</td>
        <td>9182534915</td>
        <td>Rakesh.Kamma@knowledgelens.com</td>
        <td><img src="/static/5.jpeg"  width="100" height="100"></td>
    </tr>
    <tr class="b" align="center">
        <td>Badri A</td>
        <td>Chennai</td>
        <td>Coimbatore</td>
        <td>8825514486</td>
        <td>Badri.A@knowledgelens.com</td>
        <td><img src="/static/6.jpeg"  width="100" height="100"></td>
    </tr>
    <tr class="c"align="center">
        <td>Sabari T</td>
        <td>Karur</td>
        <td>Coimbatore</td>
        <td>9715565007</td>
        <td>sabari.t@knowledgelens.com</td>
        <td><img src="/static/7.jpeg"  width="100" height="100"></td>
    </tr>
    <tr class="b" align="center">
        <td>Vamshi Krishna Grandhi</td>
        <td>Vijayawada</td>
        <td>Bangalore</td>
        <td>8639488697</td>
        <td>Vamshikrishna.grandhi@knowledgelens.com</td>
        <td><img src="/static/8.jpeg"  width="100" height="100"></td>
    </tr>

</table>

</body>
</html>